# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# macOS
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

.idea/
*.ods

# Latex
*.aux
*.log
*.synctex.gz
*.bbl
*.blg

Data/
*.csv
*.pth
